@page
@model PwrConsFinal.Views.Shared.IndexModel
@{
}

	<p> Data has succefully been added to the database!</p>
	<a asp-controller="Home" asp-action="OutputData" class="btn btn-primary">View Your Data</a>
