
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

h2{
    text-align:center
}

body {
    margin-bottom: 60px;
    background-image: url('..//bg.jpg');
}



/* Style the file input container */
/*.file-input-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #3498db;*/ /* Background color */
    /*color: #fff;*/ /* Text color */
    /*border: 2px solid #3498db;*/ /* Border color and width */
    /*border-radius: 5px;*/ /* Rounded corners */
    /*cursor: pointer;
    transition: background-color 0.3s, color 0.3s;*/ /* Smooth transitions */
    /*font-size: 16px;*/ /* Font size */
    /*font-weight: bold;
    padding: 10px 20px;
}*/

/* Style the file input itself */
/*input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}*/

/* Add hover effect */
/*.file-input-container:hover {
    background-color: #297fb8;*/ /* Darker background color on hover */
    /*color: #fff;*/ /* Text color on hover */
/*}*/




.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Button background color */
    color: #fff; /* Text color */
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db; /* Border color and width */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
    font-size: 16px; /* Font size */
    font-weight: bold;
    margin: 5px;
}

    /* Add hover effect */
.button:hover {
    background-color: #297fb8; /* Darker background color on hover */
    color: #fff; /* Text color on hover */
}
/*
.primary-button {
    background-color: #3498db;
    border: 2px solid #3498db;
}*/

/* Add some general styles to improve the table appearance */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #333;
    text-align: center; /* Center align text */
}

/* Style the table header */
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Style the table rows alternately for better readability */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

/* Style the table cells */
td {
    padding: 10px;
    border: 1px solid #ddd; /* Add visual borders between cells */
}

/* Add hover effect on table rows */
tr:hover {
    background-color: #ddd;
}

/* Add a subtle shadow to the table for depth */
table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Add a border radius to soften table corners */
table, th, td {
    border-radius: 5px;
}

