@{
    ViewData["Title"] = "Home Page";
}


<div align="center">
    <h1>Welcome</h1>
    <p> To import CSV file Press Continue</p>
</div>
<div class="text-center">
    <a asp-action="AddCsv" class="btn btn-primary">Continue</a>
    </div>
